/*! -------- FOOTER ------*/

footer {
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
  
    .section-footer {
      flex: 1;
      display: flex;
      align-items: center;
      text-align: center;
    }
  
    .horarios {
      height: 100%;
      border: 5px solid white;
      display: flex;
      align-items: center;
      text-align: center;
  
      ul {
        width: 100%;
        margin: 10px;
        font-size: 40px;
        text-align: center;
        background-color: black;
        list-style: none;
        padding: 10px;
      }
    }
  
    .instagram-footer {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      h3 {
        font-size: 40px;
      }
  
      img {
        max-width: 100%;
      }
    }
  
    .mapa-escuela {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      h3 {
        font-size: 20px;
      }
    }
  }