  /*! -------- HEADER ------*/
  
  header {
    display: flex;
    align-items: center;
    text-align: center;
  
    div {
      margin: 20px;
  
      img {
        border: 7px solid black;
        border-radius: 20%;
      }
    }
  
    h1 {
      font-size: 50px;
      font-style: italic;
      background-color: white;
      border: 5px solid black;
    }
  
    div {
      nav {
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          text-align: left;
  
          li {
            margin-bottom: 10px;
            background-color: white;
            border: 3px solid black;
            text-align: center;
  
            a {
              font-size: 20px;
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }